@import "~src/styles.scss";

.dark-card {
    background-color: $primary-color;
    box-shadow: 0px 0px 10px #000000A6;
    border-radius: 28px;
}

.icon-container {
    height: 16vh;
    width: 16vh;
    background-color: white;
    border-radius: 50%;
    border: 1px solid $accent-color !important;

    img {
        max-width: 70%;
        max-height: 70%;
    }

    &.big {
        height: 30vh;
        width: 30vh;
    }

    &:hover,
    &.chosen {
        cursor: pointer;
        background-color: $accent-color;
    }
}

.back-btn {
    position: absolute;
    top: 1rem;
    left: 3rem;
}

:host ::ng-deep {
    .mat-progress-bar {
        height: 10px;
        border-radius: 20px;
        top: 1rem;
    
        .mat-progress-bar-background {
            width: calc(100% - 5px);
        }
    
        .mat-progress-bar-background {
            width: calc(100% - 5px);
        }
    }
}