@import "~src/styles.scss";

.dark-card {
    background-color: $primary-color;
    box-shadow: 0px 0px 10px #000000A6;
    border-radius: 28px;
}

.light-card {
    background-color: rgba($color: $grey-color, $alpha: .3);
    box-shadow: 0px 3px 10px #000000A6;
    border-radius: 18px;

    &.big {
        width: 325px;
        height: 275px;

        .icon-container {
            height: 150px;
            width: 150px;
        }
    }

    &.small {
        width: 200px;
        height: 150px;

        .icon-container {
            height: 75px;
            width: 75px;
        }
    }

    &:hover {
        .icon-container {
            background-color: $accent-color;
        }
    }
}

.icon-container {
    height: 75%;
    width: 75%;
    background-color: white;
    border-radius: 50%;
    border: 1px solid $accent-color !important;

    img {
        max-width: 70%;
        max-height: 70%;
    }
}