.results-container {
    height: calc(100% - 46px);
    background: #241D31 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #000000A6;
}

.computer-container.not-in-favourite:first-child,
.filters-container {
    background: #16121D 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000029;
    border-bottom: none !important;
}

.computer-image {
    max-width: 350px;
    max-height: 200px;
}

.computer-container {
    &:not(:last-of-type) {
        border-bottom: 1px solid #545454;
    }

    .heart-btn {
        position: absolute;
        font-size: 20px;
        right: 3rem;
    }

    .best-option {
        font-size: 24px;
    }
    
    .brand-name {
        font-size: 32px;
    }
    
    .computer-name {
        font-size: 34px;
    }
    
    .price-tag {
        font-size: 20px;
    }
    
    .available-label {
        font-size: 14px;
    }

    &.in-detail {
        .other-options-container {
            .brand-name {
                font-size: 24px;
            }

            .other-option {
                .brand-name {
                    font-size: 18px;
                }
    
                .computer-name {
                    font-size: 18px;
                }
            }
        }
    }

    .specs-container {
        .spec-segment {
            border-bottom: 1px solid #C8C1C1;

            .spec-segment-title {
                font-size: 22px;
            }

            .spec-segment-line {
                font-size: 20px;
            }
        }
    }
}

:host ::ng-deep {
    .mat-progress-bar {
        height: 10px;
        width: 300px;
        border-radius: 20px;
    
        .mat-progress-bar-background {
            width: calc(100% - 5px);
        }
    
        .mat-progress-bar-background {
            width: calc(100% - 5px);
        }
    }
}