<div class="d-flex w-100 results-container">
    <div class="w-100 h-100 d-flex justify-content-center align-items-center" *ngIf="!computers">
        <mat-progress-spinner class="" color="accent" diameter="50" mode="indeterminate">
        </mat-progress-spinner>
    </div>
    <div class="col-2 p-3 d-flex flex-column filters-container scroll-parent overflow-auto">
        <div class="mb-3">
            <p class="op-font accent-text bold-font mt-0 mb-1 fs-14">Perfiles elegidos</p>
            <div class="pl-2">
                <span *ngFor="let profile of profiles; let last = last;"
                    class="op-font text-light light-font fs-14">{{profile.label}} <span *ngIf="!last && profiles.length > 1">/
                    </span></span>
            </div>
        </div>
        <div class="mb-3">
            <p class="op-font accent-text bold-font mt-0 mb-1 fs-14">Tipo</p>
            <div class="pl-2">
                <span class="op-font text-light light-font fs-14">{{computerType}}</span>
            </div>
        </div>
        <div class="mb-3">
            <p class="op-font accent-text bold-font mt-0 mb-2 fs-14">Marca</p>
            <mat-checkbox *ngFor="let brand of brands" (change)="brandFilter($event)" [value]="brand" class="d-block" style="color: white;">{{brand}}</mat-checkbox>
        </div>
        <div class="mb-3">
            <p class="op-font accent-text bold-font mt-0 mb-2 fs-14">Precio</p>
            <mat-form-field appearance="outline" style="width: 49%; margin-right: 1%;">
                <mat-label>Mínimo</mat-label>
                <input type="number" matInput placeholder="Placeholder" [(ngModel)]="filters.minPrice">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 49%; margin-left: 1%;">
                <mat-label>Máximo</mat-label>
                <input type="number" matInput placeholder="Placeholder" [(ngModel)]="filters.maxPrice">
            </mat-form-field>
            <button mat-button color="accent" (click)="filterComputers()">Filtrar</button>
        </div>
    </div>
    <div class="col-10 p-0 overflow-auto scroll-parent" *ngIf="computers && computers.length > 0">
        <div *ngFor="let computer of computers; let first = first"
            class="computer-container not-in-favourite d-flex justify-content-start w-100 px-5 py-4">
            <button mat-icon-button class="heart-btn" color="accent" aria-label="Example icon-button with a heart icon" (click)="addComputerToFavourite(computer._id)" *ngIf="user">
                <i *ngIf="!user.favouriteComputers || (user.favouriteComputers && !user.favouriteComputers.includes(computer._id))" class="far fa-heart"></i>
                <i *ngIf="user.favouriteComputers && user.favouriteComputers.includes(computer._id)" class="fas fa-heart"></i>
            </button>
            <div class="d-flex flex-column justify-content-center pl-lg-5">
                <div class="op-font text-light regular-font best-option mb-2" *ngIf="first">Esta opción es la mejor para
                    vos!</div>
                <!-- <div class="d-flex mb-3">
                    <mat-progress-bar class="mr-3" color="accent" mode="determinate" value="100"></mat-progress-bar>
                    <span class="op-font accent-text" style="line-height: 10px;">5/5</span>
                </div> -->
                <div class="op-font accent-text regular-font brand-name text-uppercase">{{computer.brand}}</div>
                <div class="op-font text-light regular-font computer-name">{{computer.name}} {{computer.model}}</div>
                <div class="op-font text-light bold-font price-tag mb-3">${{computer.price}}</div>
                <div class="op-font text-light ight-font available-label" *ngIf="first">Disponible en:</div>
                <div class="d-flex available-at" *ngIf="first">
                    <div class="mr-3" *ngFor="let store of computer.availableAt">
                        <a [href]="store.url" target="_blank">
                            <img [src]="['../../assets/' + store.store + '.png']" alt="{{store.store}}" height="60">
                        </a>
                    </div>
                </div>
                <button mat-raised-button color="accent" class="op-font bold-font text-uppercase mt-5" *ngIf="first"
                    [routerLink]="['/computer', computer._id]">Ver
                    más</button>
                <a color="accent" class="op-font light-font accent-link" *ngIf="!first"
                    [routerLink]="['/computer', computer._id]">ver más</a>
            </div>
            <div class="d-flex flex-lg-grow-1 justify-content-end align-items-center pr-lg-5 mr-lg-5">
                <img *ngIf="computer.images && computer.images[0]" src="{{computer.images[0]}}" class="computer-image mr-lg-5">
                <img *ngIf="!computer.images" src="../../assets/no-computer.jpg" class="computer-image mr-lg-5">
            </div>
        </div>
    </div>
</div>