form {
    .controls-container.auth {
        @media screen and (min-width: 992px) {
            width: 75%;
        }

        @media screen and (max-width: 992px) {
            width: 100%;
        }
    }
}

:host ::ng-deep {
    .mat-dialog-content {
        min-height: calc(100% - 64px);
        max-height: none;
    }
}