.main-bg {
    background: url('../assets/bg.png');
    background-size: 102%;
    background-position: center center;

    nav {
        background-color: transparent;
        height:  56px;
    }

    .main-container {
        height: calc(100% - 56px);
    }
}