<div class="main-bg w-100 h-100">
    <nav class="navbar navbar-expand-lg navbar-light container justify-content-between" >
        <a class="navbar-brand mx-0 my-1 p-0" href="/">
            <img src="../assets/logo.png" width="65" alt="">
        </a>
        <div *ngIf="!user">
            <a color="accent" class="op-font bold-font accent-link" (click)="openAuthModal('login')" style="text-decoration: none !important;">Login</a>
            <button mat-raised-button color="accent" class="op-font bold-font login-btn ml-3" (click)="openAuthModal('register')">Registrarte</button>
        </div>
        <div *ngIf="user">
            <a class="links side op-font regular-font text-white" [matMenuTriggerFor]="menu">
                {{user.name | titlecase}} {{user.lastName | titlecase}}
                <img class="right-logo ml-2" src="../assets/user-icon.png" *ngIf="!user.image">
                <img class="right-logo has-image ml-2" src="{{user.image}}" *ngIf="user.image">
            </a>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="profile()">Perfil</button>
                <button mat-menu-item (click)="logout()">Salir</button>
            </mat-menu>
        </div>
    </nav>

    <div class="main-container position-relative">
        <router-outlet></router-outlet>
        <footer class="d-flex justify-content-center align-items-center p-2" *ngIf="router.url !== '/' && router.url !== '/wizard'" >
            <a class="navbar-brand p-0 m-0" href="/">
                <img src="../assets/logo.png" width="45" alt="">
            </a>
        </footer>
    </div>
</div>