<div class="d-flex w-100 results-container">
    <div class="h-100 d-flex justify-content-center align-items-center" *ngIf="!computers">
        <mat-progress-spinner class="" color="accent" diameter="50" mode="indeterminate">
        </mat-progress-spinner>
    </div>
    <div class="col-12 p-0 overflow-auto scroll-parent" *ngIf="computers && computers.length > 0">
        <div *ngFor="let computer of computers; let first = first"
            class="computer-container d-flex justify-content-start w-100 px-5 py-4">
            <button mat-icon-button class="heart-btn" color="accent" aria-label="Example icon-button with a heart icon" (click)="addComputerToFavourite(computer._id)" *ngIf="user">
                <i *ngIf="!user.favouriteComputers || (user.favouriteComputers && !user.favouriteComputers.includes(computer._id))" class="far fa-heart"></i>
                <i *ngIf="user.favouriteComputers && user.favouriteComputers.includes(computer._id)" class="fas fa-heart"></i>
            </button>
            <div class="d-flex flex-column justify-content-center pl-lg-5">
                <!-- <div class="d-flex mb-3">
                    <mat-progress-bar class="mr-3" color="accent" mode="determinate" value="100"></mat-progress-bar>
                    <span class="op-font accent-text" style="line-height: 10px;">5/5</span>
                </div> -->
                <div class="op-font accent-text regular-font brand-name text-uppercase">{{computer.brand}}</div>
                <div class="op-font text-light regular-font computer-name">{{computer.name}} {{computer.model}}</div>
                <div class="op-font text-light bold-font price-tag mb-3">${{computer.price}}</div>
                <div class="op-font text-light ight-font available-label" >Disponible en:</div>
                <div class="d-flex available-at">
                    <div class="mr-3" *ngFor="let store of computer.availableAt">
                        <a [href]="store.url" target="_blank">
                            <img [src]="['../../assets/' + store.store + '.png']" alt="{{store.store}}" height="60">
                        </a>
                    </div>
                </div>
                <a color="accent" class="op-font light-font accent-link" 
                    [routerLink]="['/computer', computer._id]">ver más</a>
            </div>
            <div class="d-flex flex-lg-grow-1 justify-content-end pr-lg-5 mr-lg-5">
                <img *ngIf="computer.images && computer.images[0]" src="{{computer.images[0]}}" class="computer-image mr-lg-5">
                <img *ngIf="!computer.images" src="../../assets/no-computer.jpg" class="computer-image mr-lg-5">
            </div>
        </div>
    </div>
</div>