<div class="d-flex w-100 results-container">
        <div class="w-100 h-100 d-flex justify-content-center align-items-center" *ngIf="!computer">
            <mat-progress-spinner class="" color="accent" diameter="50" mode="indeterminate">
            </mat-progress-spinner>
        </div>
    <div class="col-12 col-md-5 p-3 d-flex flex-column images-container" *ngIf="computer">
        <a color="accent" class="op-font light-font accent-link back-btn" [routerLink]="['/computers']">Volver</a>
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
    </div>
    <div class="col-12 col-md-7 p-3 p-mg-4 p-lg-5 h-100 overflow-auto scroll-parent computer-container in-detail"
        *ngIf="computer">
        <div class="d-flex flex-column justify-content-center">
            <button mat-icon-button class="heart-btn" color="accent" aria-label="Example icon-button with a heart icon"
                (click)="addComputerToFavourite(computer._id)" *ngIf="user" style="top: 3rem;">
                <i *ngIf="!user.favouriteComputers || (user.favouriteComputers && !user.favouriteComputers.includes(computer._id))"
                    class="far fa-heart"></i>
                <i *ngIf="user.favouriteComputers && user.favouriteComputers.includes(computer._id)"
                    class="fas fa-heart"></i>
            </button>
            <div class="op-font accent-text bold-font brand-name text-uppercase">{{computer.brand}}</div>
            <div class="op-font text-light regular-font computer-name">{{computer.name}} {{computer.model}}</div>
            <div class="my-2" *ngIf="computer.rating && computer.rating !== 0">
                <i class="fa-star mr-2 accent-text" *ngFor="let star of stars; let i = index"
                    [ngClass]="(math.floor(computer.rating) > i) ? 'fas' : 'far'"></i>
                <div class="d-inline-block op-font text-light regular-font">{{ computer.comments.length }} <span
                        *ngIf="computer.comments.length === 1"> opinión</span><span
                        *ngIf="computer.comments.length > 1"> opiniones</span></div>
            </div>
            <div class="op-font text-light bold-font price-tag mb-3">$ {{computer.price}}</div>
            <div class="op-font text-light ight-font available-label mb-2">Disponible en:</div>
            <div class="d-flex available-at mb-5">
                <div class="mr-3" *ngFor="let store of computer.availableAt">
                    <a [href]="store.url" target="_blank">
                        <img [src]="['../../assets/' + store.store + '.png']" alt="{{store.store}}" height="60">
                    </a>
                </div>
            </div>
            <div class="d-flex flex-column my-3 h-100 specs-container">
                <div class="op-font accent-text regular-font brand-name">Características</div>
                <div class="spec-segment py-4" *ngIf="processor">
                    <div class="spec-segment-title op-font text-light regular-font">Procesador</div>
                    <div class="spec-segment-line op-font text-light light-font">
                        {{processor.brand | uppercase}} {{processor.version}}-{{processor.model}} ({{processor.cores}}
                        cores, {{processor.rate}} GHz)
                    </div>
                </div>
                <div class="spec-segment py-4" *ngIf="memory">
                    <div class="spec-segment-title op-font text-light regular-font">Memoria</div>
                    <div class="spec-segment-line op-font text-light light-font">
                        {{memory.ram}} GB {{memory.ramType}} ({{memory.speed}} MHz, con {{memory.expandableRam}} GB
                        Aplicable)
                    </div>
                </div>
                <div class="spec-segment py-4" *ngIf="storage">
                    <div class="spec-segment-title op-font text-light regular-font">Almacenamiento</div>
                    <div class="spec-segment-line op-font text-light light-font">
                        <span *ngIf="storage.space%1000 === 0">{{storage.space/1000}} TB </span>
                        <span *ngIf="storage.space%1000 !== 0">{{storage.space}} GB </span>
                        <span>{{storage.storageType}} </span>
                        <span *ngIf="storage.storageType === 'HDD'">{{storage.speed}} rpm</span>
                        <span *ngIf="storage.storageType === 'SSD'">{{storage.speed}} MB/s</span>
                    </div>
                </div>
                <div class="spec-segment py-4" *ngIf="graphics">
                    <div class="spec-segment-title op-font text-light regular-font">Tarjeta Gráfica</div>
                    <div class="spec-segment-line op-font text-light light-font">
                        <span>{{graphics.brand | uppercase}} </span>
                        <span>{{graphics.graphicCardType}} </span>
                        <span>{{graphics.processorRate}} </span>
                        <span>{{graphics.ram}} GB </span>
                        <span>{{graphics.ramType}}</span>
                    </div>
                </div>
                <div class="spec-segment py-4" *ngIf="dimensions">
                    <div class="spec-segment-title op-font text-light regular-font">Pantalla</div>
                    <div class="spec-segment-line op-font text-light light-font">
                        <span>Ancho: {{dimensions.weight}} </span>
                        <span>Altura: {{dimensions.height}} </span>
                        <span>Profundidad: {{dimensions.depth}} </span>
                        <span>Peso: {{dimensions.weight}} </span>
                    </div>
                </div>
                <div class="spec-segment py-4" *ngIf="computer.specifications.operatingSystem">
                    <div class="spec-segment-title op-font text-light regular-font">Sistema Operativo</div>
                    <div class="spec-segment-line op-font text-light light-font">
                        {{computer.specifications.operatingSystem}}</div>
                </div>
                <div class="spec-segment py-4" *ngIf="battery">
                    <div class="spec-segment-title op-font text-light regular-font">Batería</div>
                    <div class="spec-segment-line op-font text-light light-font">
                        <span>Duración: {{battery.duration}} hs </span>
                        <span>Sin conexión: {{battery.restDuration}} hs</span>
                    </div>
                </div>
                <div class="spec-segment py-4" *ngIf="computer.specifications.connectivity">
                    <div class="spec-segment-title op-font text-light regular-font">Conectividad</div>
                    <div class="spec-segment-line op-font text-light light-font">
                        <span *ngIf="computer.specifications.connectivity.bluetooth">Bluetooth, </span>
                        <span *ngIf="computer.specifications.connectivity.wifi">WiFi, </span>
                        <span *ngIf="computer.specifications.connectivity.hdmiPort">HDMI, </span>
                        <span *ngIf="computer.specifications.connectivity.hdmiMiniPort">HDMI mini, </span>
                        <span
                            *ngIf="computer.specifications.connectivity.usb2Ports">{{computer.specifications.connectivity.usb2Ports}}
                            puertos usb 2, </span>
                        <span
                            *ngIf="computer.specifications.connectivity.usb3Ports">{{computer.specifications.connectivity.usb3Ports}}
                            puertos usb 3, </span>
                    </div>
                </div>

                <div class="op-font accent-text regular-font brand-name my-4">Opiniones sobre la computadora</div>
                <!-- <div class="" *ngFor="let comment of computer.comments"> -->
                <div class="d-flex comment-container p-4 mb-3 position-relative" *ngFor="let comment of computer.comments">
                    <button mat-icon-button class="trash-btn" color="accent" aria-label="Example icon-button"
                        (click)="removeComment(comment._id)" *ngIf="user && user._id === comment.user._id">
                        <i class="far fa-trash-alt"></i>
                    </button>
                    <div class="image-container mr-2">
                        <img src="{{comment.user.image}}" width="40" *ngIf="comment.user.image">
                        <img src="../assets/user-icon.png" width="40" *ngIf="!comment.user.image">
                    </div>
                    <div class="d-flex flex-grow-1 flex-column">
                        <div class="op-font text-light regular-font">{{comment.user.name}} {{comment.user.lastName}}</div>
                        <div>
                            <i class="accent-text mr-2 fa-star" *ngFor="let star of stars; let i = index"
                                [ngClass]="(math.floor(comment.rating) > i) ? 'fas' : 'far'"></i>
                        </div>
                        <div class="op-font accent-text regular-font">
                            {{ comment.date | date: 'd - MMM - yyyy'}}
                        </div>
                        <p class="op-font text-light regular-font">{{ comment.comment }}</p>
                    </div>
                </div>
                <div class="op-font text-light regular-font fs-20 my-4" *ngIf="computer.comments.length === 0">Todavía
                    no hay opiniones sobre esta computadora</div>
                <div class="my-3" *ngIf="canComment()">
                    <div class="op-font accent-text regular-font fs-24 mb-3">Contanos tu experiencia</div>
                    <div class="mb-3">
                        <i class="fa-star mr-2 accent-text" *ngFor="let star of opinionStars; let i = index"
                            [ngClass]="(star.selected) ? 'fas' : 'far'" (click)="setOpinionStars(i)"
                            style="cursor: pointer;"></i>
                    </div>
                    <mat-form-field class="d-block" appearance="fill">
                        <mat-label>Tu opinion</mat-label>
                        <textarea matInput [(ngModel)]="opinion.comment"></textarea>
                    </mat-form-field>
                    <button mat-raised-button color="accent" class="op-font bold-font text-uppercase mt-2"
                        (click)="sendComment()" [disabled]="!opinion.comment || !opinion.rating">
                        Enviar
                        <i class="fas fa-paper-plane ml-2"></i>
                    </button>
                </div>
            </div>

            <!-- <div class="other-options-container d-flex flex-column align-items-center justify-content-center">
                <div class="op-font accent-text regular-font brand-name my-4">Si no te convenció, tenemos otras opciones
                    para vos</div>
                <div class="other-options d-flex align-items-center justify-content-around">
                    <div class="other-option d-flex flex-column justify-content-center align-items-center">
                        <div>
                            <img src="../../assets/generic.png" class="mr-lg-5" alt="" width="150" height="150">
                        </div>
                        <div class="op-font accent-text regular-font brand-name">HP</div>
                        <div class="op-font text-light regular-font computer-name">Envy 13</div>
                        <a color="accent" class="op-font light-font accent-link"
                            [routerLink]="['/computer', computer._id]">ver más</a>
                    </div>
                    <div class="other-option d-flex flex-column justify-content-center align-items-center">
                        <div>
                            <img src="../../assets/generic.png" class="mr-lg-5" alt="" width="150" height="150">
                        </div>
                        <div class="op-font accent-text regular-font brand-name">MacBook pro</div>
                        <div class="op-font text-light regular-font computer-name">Air 13</div>
                        <a color="accent" class="op-font light-font accent-link"
                            [routerLink]="['/computer', computer._id]">ver más</a>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>