<div class="d-flex flex-column justify-content-center p-5 ml-5">
    <div class="logo">
        <img src="../assets/logo.png">
    </div>
    <div class="separator-line mb-4"></div>
    <h2 class="op-font text-light regular-font title">Encontrá la computadora que buscás</h2>
    <p class="op-font text-light light-font subtitle mb-5">En pocos pasos vas a descubrir la mejor opción que abarque
        tus necesidades.</p>
    <button mat-stroked-button class="start-btn" color="accent" class="op-font text-light light-font" routerLink="/wizard">Empezar</button>
    <div class="computers-image position-absolute">
        <img src="../../assets/computers.png">
    </div>
</div>