<div class="d-flex flex-column justify-content-center align-items-center align-items-lg-start p-5 ml-lg-5 h-100 home-div">
    <!-- <div class="logo">
        <img src="../assets/logo.png">
    </div> -->
    <!-- <div class="separator-line mb-4 d-none d-lg-block"></div> -->
    <h2 class="op-font text-light regular-font title text-center text-lg-left">Encontrá la computadora que buscás</h2>
    <p class="op-font text-light light-font subtitle mb-3 mb-lg-5 text-center text-lg-left">En pocos pasos vas a
        descubrir la mejor opción que abarque
        tus necesidades.</p>
    <button mat-stroked-button color="accent" class="op-font text-light light-font"
        routerLink="/wizard">Empezar</button>
    <div class="computers-image position-absolute d-none d-lg-block">
        <img src="../../assets/computers.png">
    </div>
</div>